@using CarRentalMVC.Models.LayoutView
@model LayoutViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRentalMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CarRentalMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="menu-toggle" id="menu-toggle">☰</button>
                </div>
                <div class="sidebar" id="sidebar">
                    <ul class="nav flex-column">
                        @foreach (var menuItem in Model.MenuItems.Where(m => m.ParentMenuItemId == null))
                        {
                            <li class="nav-item dropdown" id="@menuItem.Name">
                                <a class="nav-link dropdown-toggle" href="#">@menuItem.Name</a>
                                <ul class="collapse" id="@menuItem.Name + " Menu"">
                                    @foreach (var subMenuItem in Model.MenuItems.Where(m => m.ParentMenuItemId == menuItem.Id))
                                    {
                                        <li><a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <main class="col-12 ms-sm-auto">
                    @RenderBody()
                </main>
            </div>
        </div>
    </header>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CarRentalMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
